.signupContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .signupForm {
      padding: 40px 48px;
      border: 1px solid rgba(203, 213, 225, 0.1);
      background-color: #1e293b;
      max-width: 600px;
      width: 100%;
      border-radius: 8px;
      h1 {
        margin-bottom: 24px;
        font-size: 36px;
      }
      & > div {
        display: flex;
        flex-direction: column;
        label {
          font-size: 16px;
          color: #e2e8f0;
          font-weight: 500;
          margin-bottom: 16px;
        }
        input {
          border: 1px solid rgba(203, 213, 225, 0.1);
          outline: none;
          padding: 16px;
          border-radius: 8px;
          margin-bottom: 32px;
          background-color: #33415580;
          font-size: 16px;
          color: #e2e8f0;
          &::placeholder {
            color: rgb(148, 163, 184)
          }
        }
        select {
          height: 52px;
          padding: 0 16px;
          margin-bottom: 32px;
          border: 1px solid rgba(203, 213, 225, 0.1);
          background-color: #33415580;
          border-right: 16px solid transparent;
          border-radius: 8px;
        }
      }
      button {
        margin-top: 16px;
        padding: 0 32px;
        height: 50px;
        border-radius: 8px;
        background-color: rgb(6, 182, 212);
        font-size: 16px;
        font-weight: 600;
      }
      .link {
        margin-top: 20px;
        font-size: 14px;
        span {
          color: rgb(6, 182, 212);
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
}